# See https://docs.docker.com/engine/admin/host_integration/

[Unit]
Description=Concrete Mixer container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --name=concrete_mixer --device=/dev/snd:/dev/snd -p 80:8000 -v /home/pi/audio:/cm-files cm-rpi:latest
ExecStop=/usr/bin/docker stop -t 2 concrete_mixer
ExecStopPost=/usr/bin/docker rm -f concrete_mixer

[Install]
WantedBy=default.target
