# See https://docs.docker.com/engine/admin/host_integration/

[Unit]
Description=Concrete Mixer container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --name=concrete_mixer_internet --device=/dev/snd:/dev/snd -p 8000:8000 concretemixer/cm-rpi-internet:latest
ExecStop=/usr/bin/docker stop -t 2 concrete_mixer_internet
ExecStopPost=/usr/bin/docker rm -f concrete_mixer_internet

[Install]
WantedBy=default.target
